<div class="grid-container">
    <div class="grid-item">
        <h3>Seize the digital opportunity</h3>
    </div>
    <div class="grid-item">
        <h3>Explore how websites work</h3>
    </div>
    <div class="grid-item">
        <h3>Build a strong online strategy</h3>
    </div>
    <div class="grid-item">
        <h3>Manage your time effectively</h3>
    </div>
    <div class="grid-item">
        <h3>Create a long-term social media plan</h3>
    </div>
    <div class="grid-item">
        <h3>Learn how to export </h3>
    </div>
    <div class="grid-item">
        <h3>Digital Marketing Strategy</h3>
    </div>
    <div class="grid-item">
        <h3>Get Started with Analytics</h3>
    </div>
    <div class="grid-item">
        <h3>Social Media Strategy</h3>
    </div>
</div>